     #banner-section    .dark-overlay{
        background: rgba(0, 0, 0, 0.386);
        min-height: 750px;
    }
    #banner-section    .banner-inner{
        padding-top: 250px;
        padding-bottom: 50px;
    }
    #banner-section {
        min-height: 750px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }